body {
    /* padding-bottom: calc(10rem - 72px); */
    background: linear-gradient(to bottom, rgba(99, 231, 255, 0.4) 0%, rgba(99, 231, 255, 0.6) 100%), url("assets/background.jpeg");
    background-repeat: no-repeat;
    background-size: auto;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: cover;
    font-family: 'Josefin Sans', sans-serif;
    display: flex;
    justify-content: center;
}

img {
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    user-select: none;
    }

.wrapper {
    max-width: 80vw;
}

.cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.card {
    width: 140px;
    height: 180px;
    margin: 20px 30px;
    border-radius: 20px;
}

@media (min-width: 1201px) and (max-width: 1500px) {
    .card {
        width: 110px;
        height: 150px;
        margin: 15px;
    }
}

@media (min-width: 901px) and (max-width: 1200px) {
    .card {
        width: 100px;
        height: 140px;
        margin: 10px;
    }
}

@media (min-width: 751px) and (max-width: 900px) {
    .card {
        width: 85px;
        height: 110px;
        margin: 10px;
    }
}

@media (min-width: 551px) and (max-width: 750px) {
    .card {
        width: 80px;
        height: 100px;
        margin: 10px;
    }
}

@media (min-width: 451px) and (max-width: 550px) {
    .card {
        width: 70px;
        height: 90px;
        margin: 10px;
    }
}

@media (min-width: 376px) and (max-width: 450px) {
    .card {
        width: 60px;
        height: 80px;
        margin: 7px;
    }
}

@media (max-width: 375px) {
    .card {
        width: 55px;
        height: 80px;
        margin: 5px;
    }
}

.card img {
    width: 100%;
    height: 100%;
    border-radius: 20px;
    box-shadow: 5px 5px #888888;
}

#overlay {
    position: fixed; /* Sit on top of the page content */
    display: none; /* Hidden by default */
    width: 100%; /* Full width (cover the whole page) */
    height: 100%; /* Full height (cover the whole page) */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5); /* Black background with opacity */
    z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
    cursor: pointer; /* Add a pointer on hover */

  }

#inneroverlay {
    position: absolute;
    top: 33%;
    text-align: center;
    color: white;
    background: rgba(0, 0, 0, 0.6);
    width: 100vw;
    padding-top: 30px;
    padding-bottom: 50px;
}

@media (max-width: 600px) {
    #inneroverlay {
        top: 25%;
    }
}

.btn {
    width: 200px;
    height: 40px;
    font-size: 16px;
    border-radius: 5px;
    background: white;
}